body {
  margin: 0%;
  padding: 0%;
  background-color: red;
}
#root{
  background-color: white;
}
*{
  /* font-family: 'Allison', cursive; */
  /* font-weight: 600; */
}

/* @import url('https://fonts.googleapis.com/css2?family=Allison&display=swap'); */
