.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 2em;
    overflow: visible;
    vertical-align: -0.125em;
}
@media (max-width: 788px)
{
.svg-inline--fa  {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}
}
.ReactModal__Overlay--after-open{
    background-color: rgb(47 47 47 / 75%)!important
}

/* ................................................ */
/* table { 
    width: 100%; 
    border-collapse: collapse; 
  } */
  /* Zebra striping */
  /* tr:nth-of-type(odd) {  */
    /* background: #eee;  */
  /* }
  th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  } */
  /* td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
  } */
  /* ........................... */
  /* @media  */
/* only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  { */

	/* Force table to not be like tables anymore */
	/* table, thead, tbody, th, td, tr { 
		display: block; 
	} */
	
	/* Hide table headers (but not display: none;, for accessibility) */
	/* thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	} */
/* 	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	} */
	
	/* td:before { 
		/* Now like a table header 
		position: absolute;
		/* Top/left values mimic padding 
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	 */
	/*
	Label the data
	*/ 
	/* td:nth-of-type(1):before { content: "S.N."; }
	td:nth-of-type(2):before { content: "Product Image"; }
	td:nth-of-type(3):before { content: "Product Name"; }
	td:nth-of-type(4):before { content: "Price"; }
	td:nth-of-type(5):before { content: "Order date"; }
	td:nth-of-type(6):before { content: "Product Discription"; }
	td:nth-of-type(7):before { content: "Action"; }

} */
/* .table>:not
{
    padding: 0%;
} */
